@import "tailwindcss";

@font-face {
  font-family: 'Maki-Sans';
  src: url('/fonts/Maki-Sans.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maki-Sans';
  src: url('https://s3.twcstorage.ru/c6bae09a-a5938890-9b68-453c-9c54-76c439a70d3e/Pizzatownton/Maki-Sans.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.shantell {
  font-family: 'Maki-Sans', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.slow-spin-animation {
  animation: slow-spin 15s linear infinite;
}

@keyframes slow-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}